main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  .box {
    width: 300px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px blue;
    border-radius: 30px;

    h3 {
      margin: 0 15px;
    }

    button {
      font-size: 18px;
      margin: 60px auto 0;
      width: 150px;
      height: 30px;
      bottom: 50px;
    }
  }
}